body {
padding: 0;
margin: 0;
}


#sixBigEight{
    grid-column: 2/4;
    grid-row: 4/6;
  
    transform: rotate(45deg);   
    height: 65px;
    position: relative;
    top: 25px;
    width: 90px;
    border-radius: 20px;
}

#sixBigEight:hover{
    cursor: pointer;
}

#externalcl {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px black solid;
    width: 300px;
    overflow: scroll;

}

#externalCLTOPBAR {
    width: 300px;
    border-bottom: 1px black solid;
    text-align: center;
    font-size: 25px;
    font-style: bold;
}


.functionsRun{
    grid-column: 2/3;
    grid-row: 3/4;
    
}

#crapsTableWrapper{

    display: grid;
    grid-template-rows: 100px 400px 400px;
    grid-template-columns: 100px 302px  756.25px  302px 100px;
    justify-content: center;
    align-content: center;

}

#stats {
    grid-column: -4/-3;
    grid-row: 3/-1;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
}
#statsHeader{
    grid-column: 1/3;
    
}

.wins{
    padding-top: 50px;
}

.losses{
    padding-top: 50px;
}



#passLine {
   
    width: 420px;
    height: 37px;
    grid-column: 2 / 4;
    grid-row: 6 / 7 ;
}

#passLine:hover{
    cursor: pointer;
}

#passLineUp {
    
    height: 275px;
    grid-column: 1/2;
    grid-row: 2/5;
}


#passLineUp:hover{
    cursor: pointer;
}

#dontPassLowerBar{
    grid-column: 3/5;
    grid-row: 5/6;
    
    margin-left: 60px;
    
}

#dontPassLowerBar:hover {
    cursor: pointer;
}

#dontPassVerticalBar{
    grid-column: 2/3;
    grid-row: 2/4;
 
}

#dontPassVerticalBar:hover {
    cursor: pointer;
}






#donePassVerticalBar{
    grid-column: 2/3;
    grid-row: 2/4;
    height: 150px;
    
}

#playerWinnings {
   grid-column: 6/7;
   grid-row: -9/-8;
}


.chipCount {
    grid-column: 8/9;
    grid-row: 3/4;
    text-align: top;
}

#crapsTable {
    background-image: url("./Craps_table_layout.svg");
    background-position: center;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 40px 40px 60px 315px 65px 35px 75px 75px 25px 25px;
    grid-template-rows: 25px 100px 60px 63px 40px 40px 48px 25px ;
    min-width: 100%;
    max-width: 100%;
    
    
}


#redChip {
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chips {
    grid-row: 7/8;
    grid-column: 3/5;
   
    width: fill;
    height: 50px;
    text-align: center;
    text-orientation: sideways;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;
    
}

#chips10, #chips25, #chips50, #chips100 {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 75px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;

}






.dice {
    height: 60px;
    width: 130px;
    
  
    display: flex;
    flex-direction: row;
    grid-column: 6/8;
    grid-row: 2/3;
    
}

.dice:hover{
    cursor: pointer;
}

.leftDice{
    flex: 1;
    border: 1px solid black;
    text-align: center;
    background-color: red;
}


.leftDice:hover{
    cursor: pointer;
}

.rightDice {
    flex: 1;
    border: 1px solid black;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    background-color: red;
}

.rightDice:hover{
    cursor: pointer;
}

#clearBets {
    grid-column: 7/9;
    grid-row: 8/9;
    
}

#points{
    grid-column: 3/5;
    grid-row: 2/3;
    display: grid; 
    grid-template-columns: 59px 58px 59px 59px 59px 59px 59px;
    grid-row: 1fr;
    height: 100px;
    grid-gap:4px
  
}

.comeBetFour, .comeBetFive, .comeBetSix, .comeBetEight, .comeBetNine, .comeBetTen  {
    grid-row: 2/3;
    
    font-size: 10px;
    
}

.four, .five, .six, .eight, .nine, .ten {
    display: grid;
    grid-template-rows: 20px 12px 60px;
}

#fourPoint{
    grid-row: 1/2;
  
}

#placeBetFour, #placeBetfive, #placeBetSix, #placeBetEight, #placeBetNine, #placeBetTen{
    grid-row: 3/4;
}


#comeBar {

    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    
}


#comeBar:hover {
    cursor: pointer;
}

.field {
    grid-column: 3/5;
    grid-row: 4/5;
    text-align: center;
}

.field:hover{
    cursor: pointer;
}